{% extends "SioGsbBundle:Default:layout.html.twig" %}

{% block content %}
<head>
    <title>
        {% block title %}
            GSB Planning
        {% endblock %}
    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cssGeneral.css') }}">
    <link href='/gsbplanning/web/calendar/fullcalendar.css' rel='stylesheet' />
    <link href='/gsbplanning/web/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
    <script src='/gsbplanning/web/calendar/lib/moment.min.js'></script>
    <script src='/gsbplanning/web/calendar/lib/jquery.min.js'></script>
    <script src='/gsbplanning/web/calendar/fullcalendar.min.js'></script>
    {{ event }}
    <script>
        var now = new Date();

        var jour  = now.getDate();
        var mois = now.getMonth();
        var annee = now.getYear();
        console.log(jour);
        console.log(mois);
        console.log(annee);
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: annee-mois-jour,
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        start = $.fullCalendar.formatDate(start, "yyyy-MM-dd HH:mm:ss");
                        end = $.fullCalendar.formatDate(end, "yyyy-MM-dd HH:mm:ss");
                        $.ajax({
                            url: 'http://localhost/fullcalendar/add_events.php',
                            data: 'title='+ title+'&start='+ start +'&end='+ end ,
                            type: "POST",
                            success: function(json) {
                                alert('OK');
                            }
                        });
                        calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                },
                                true // make the event "stick"
                        );
                    }
                    calendar.fullCalendar('unselect');
                },

                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2016-01-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2016-01-07',
                        end: '2016-01-10'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-01-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2016-01-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2016-03-23',
                        end: '2016-03-23'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-01-12T10:30:00',
                        end: '2016-01-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2016-01-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2016-01-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2016-01-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2016-01-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2016-01-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2016-01-28'
                    }
                ]
            });

        });

    </script>
    <style>


        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>

<div id="bandeau">
    <!-- L'image du bandeau -->
    <img src="{{ asset('images/BourSiQuote_Ban.png') }}"  	alt="Bour" title="Bour"/>
</div>



<div id='calendar'></div>
{% endblock %}

