{% extends "SioGsbBundle:Default:layout.html.twig" %}

{% block title %}{{ parent() }} Changer Mail{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/detailEvent.css') }}"
    xmlns="http://www.w3.org/1999/html">
    <div id="bloc_formulaire1">
    <form name="addEvent" method="POST" action="{{ path('sio_gsb_mdpChange') }}">

        <br>
        <input type="hidden" name="id" value="{{ app.session.get('user') }}">
        <div id="titre">
            <div id="titre_modification_mail" style="font-size: 24px;">Changer Mail</div>
        </div>
        <br>
        <div id="input">
            <div id="text">
                Mail :<input type="email" name="mail" value="">
            </div>
        </div>
        <div id="input">
            <div id="text">
                Confirmation :<input type="email" name="mailconf" value="">
            </div>
        </div>
        <div id="input">
            <div id="submit">
                <input type="submit" name="changer" value="Changer">
            </div>
        </div>
    </form>

{% endblock %}