{% extends "SioGsbBundle:Default:layout.html.twig" %}

{% block title %}{{ parent() }} -Connexion{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/detailEvent.css') }}"
          xmlns="http://www.w3.org/1999/html">
<div id="bj">
    <h1>Bienvenue sur le site de gestion d'événement de la société GSB</h1>
    <img src="{{ asset('images/logogsb.jpg') }}"/>
</div>

{% endblock %}