<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/cssIndex.css') }}">
        <title>GSBPlanning - Identification</title>
    </head>

    <body>
        <div id="bloc_page">
            <header>
                <div id="logo">
                    <img src="{{ asset('images/bd_gsb.jpg') }}" width="1410" height="210"/>
                </div>
            </header>

            <div id="formulaire_identification">

                <br>

                <form name="identification" method="post" action="{{ path('sio_gsb_connexion') }}">

                    <div id="titre">
                        <div id="titre_formulaire_identification" style="font-size: 24px;">Identification</div>
                    </div>

                    <br>

                    <div id="input">
                        <div id="email">
                            <input type="email" name="email_formulaire_identification" placeholder="E-Mail ID" required="required" value="">
                        </div>
                    </div>

                    <div id="input">
                        <div id="password">
                            <input type="password" name="password_formulaire_identification" placeholder="Password" required="required" value="">
                        </div>
                    </div>

                    <div id="input">
                        <div id="submit">
                            <input type="submit" name="submit_formulaire_identification" value="S'identifier">
                        </div>
                    </div>
                </form>
            </div>
            <div id="user">
                   {{ user }}
            </div>
        </div>
    </body>
</html>